<a href="https://colab.research.google.com/github/AishaChanna/Data-science/blob/main/20SW122_(Lab_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB:2

Rollno: 20SW122

Section: 2

Task# 1

Write an if that know competator for prize they have won according to number of point they scored:

1 - 50 wooden rabit

51 - 150  no prize

151 - 180 water-thin mint

181 - 200 penguin

In [3]:
points = 174 # use this input to make your submission
result = "";

if (points>=1 and points <= 50):
  result = "Congrats! you won a wooden rabit"

elif (points>=51 and points <= 150):
  result = "No prize this time"

elif (points>=151 and points <= 180):
  result = "Congrats! you  won a water-thin mint"
elif (points>=181 and points <= 200):
  result = "Congrats! you won a penguin"
else:
  result = "No prize this time"

print(result)

Congrats! you  won a water-thin mint

TASK# 2

Guess My Number
You decide you want to play a game where you are hiding a number from someone.
Store this number in a variable called 'answer'. Another user provides a number
called 'guess'. By comparing guess to answer, you inform the user if their guess is too
high or too low.

In [7]:
answer =8
guess = 4
if (answer > guess):
 result = "Your guess was low."
elif (answer < guess):
 result = "Your guess was high."
elif (answer == guess):
 result = "Your guess match the answer!"
print(result)

Your guess was low.

Task# 3

Depending on where an individual is from we need to tax them appropriately. The
states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this
information to take the amount of a purchase and the corresponding state to assure
that they are taxed by the right amount

In [8]:
state = "MN"
purchase_amount = 13
if state == "CA":
        tax_amount = .075
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "MN":
        tax_amount = .095
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "NY":
        tax_amount = .089
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from MN, your total cost is 14.235.

Task# 4

Use a for loop to take a list and print each element of the list in its own line.
Example:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]
Output:
the

quick

brown

..

In [10]:

sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task# 5


Multiples of 5
Write a for loop below that will print out every whole number that is a multiple of 5
and less than or equal to 30
This should output:
5
10
15
20
25
30

In [11]:
for i in range(5,35,5):
  print(i)

5
10
15
20
25
30

Task# 6

Extract First Names
Use a list comprehension to create a new list first_names containing just the first
names in names in lowercase.

In [20]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.lower().split()[0] for name in names]# write your list comprehension here
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task# 7

Use a list comprehension to create a list multiples_3 containing the first 20
multiples of 3.
multiples_3 = # write your list comprehension here
print(multiples_3)

In [15]:
multiples_3 = [x for x in range(3,3*20+1,3)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task# 8

Filter Names by Scores
Use a list comprehension to create a list of names passed that only include those
that scored at least 65

In [21]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed =[name for name, score in scores.items() if score >= 65]# write your list comprehension here
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task# 9

Use zip to create a dictionary cast that uses names as keys and heights as
values.

In [22]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task# 10

Use enumerate to modify the cast list so that each element contains the
name followed by the character's corresponding height. For example, the first
element of cast should change from "Barney Stinson" to "Barney Stinson
72".

In [19]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
# for loop here
for index, height in enumerate(heights):
    s = "{} {}".format(cast[index], height)
    cast[index] = s
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']