<a href="https://colab.research.google.com/github/AishaChanna/Data-science/blob/main/Lab1_20SW122.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab# 01
RollNo:20SW122
Section:2

Task#1

In [ ]:
variable1 = 122
variable2 = "Aisha, 20SW122!"

In [ ]:
variable1 = 122
variable2 = "Hello, World!"

print("it is lab 1 is {} and the value of var2 is '{}'.".format(variable1, variable2))

it is lab 1 is 122 and the value of var2 is 'Hello, World!'.

Task#2

String example

In [ ]:
my_string = "python, 20sw122!"

# Using string methods

In [ ]:
print(my_string.upper())

PYTHON, 20SW122!

In [ ]:
print(my_string.lower())

python, 20sw122!

In [ ]:
print(my_string.title())

Python, 20Sw122!

In [ ]:
print(my_string.strip())

python, 20sw122!

Task# 3

In [ ]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

num_days = days_in_month[month-1]
print(num_days)

31

Task#4

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

three_most_recent_dates = eclipse_dates[-3:]
print(three_most_recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

Task#5

# Nested dictionary to store student data.

In [ ]:
dictionary = {'key' : 'value',
'key_2': 'value_2'}

In [ ]:
#comp DS
dic = {1: {'name': 'aisha', 'age': '20', 'subject': 'DSA'},
          2: {'name': 'warda', 'age': '20', 'subject': 'DSA'}}

print(dic)

{1: {'name': 'aisha', 'age': '20', 'subject': 'DSA'}, 2: {'name': 'warda', 'age': '20', 'subject': 'DSA'}}