<a href="https://colab.research.google.com/github/AishaChanna/Data-science/blob/main/Lab3_20SW122.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



Lab# 3
RollNo: 20SW122

Task#1

In [ ]:
def population_density(population, land_area):
    return population / land_area

test1 = population_density(10, 1)
expected_result1 = 10
print("Expected result: {}, actual result: {}".format(expected_result1, test1))

test2 = population_density(864816, 121.4)
expected_result2 = 7123.6902801
print("Expected result: {}, actual result: {}".format(expected_result2, test2))

Expected result: 10, actual result: 10.0
Expected result: 7123.6902801, actual result: 7123.690280065897

Task# 2

In [ ]:
def readable_timedelta(days):
    weeks = days // 7
    remaining_days = days % 7
    return "{} week(s) and {} day(s).".format(weeks, remaining_days)

print(readable_timedelta(10))

1 week(s) and 3 day(s).

Task# 3

In [ ]:
numbers = [
    [34, 63, 88, 71, 29],
    [90, 78, 51, 27, 45],
    [63, 37, 85, 46, 22],
    [51, 22, 34, 11, 18]
]

averages = list(map(lambda num_list: sum(num_list) / len(num_list), numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

Task# 4

In [ ]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

short_cities = list(filter(lambda name: len(name) < 10, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

Task# 5

In [ ]:
names_input = input("Enter a list of student names separated by commas: ")
names = names_input.split(',')

assignments_input = input("Enter a list of the number of missing assignments for each student separated by commas: ")
assignments = [int(x) for x in assignments_input.split(',')]

grades_input = input("Enter a list of grades for each student separated by commas: ")
grades = [float(x) for x in grades_input.split(',')]

message = "Hi {},\n\nThis is a reminder that you have {} assignments left to submit before you can graduate. Your current grade is {} and can increase to {} if you submit all assignments before the due date.\n\n"

for name, assignment_count, grade in zip(names, assignments, grades):
    potential_grade = grade + (2 * assignment_count)
    print(message.format(name, assignment_count, grade, potential_grade))

Enter a list of student names separated by commas: Aisha, laiba
Enter a list of the number of missing assignments for each student separated by commas: 4,5
Enter a list of grades for each student separated by commas: 2,3
Hi Aisha,

This is a reminder that you have 4 assignments left to submit before you can graduate. Your current grade is 2.0 and can increase to 10.0 if you submit all assignments before the due date.


Hi  laiba,

This is a reminder that you have 5 assignments left to submit before you can graduate. Your current grade is 3.0 and can increase to 13.0 if you submit all assignments before the due date.

Task# 6

In [ ]:
f = open('task6.txt', 'w')
f.write("We're the knights of the round tableWe dance whenever we're able")
f.close()

with open("task6.txt") as song:
  print(song.read(2))
  print(song.read(8))
  print(song.read())


camelot_lines = []
with open("task6.txt") as f:
    for line in f:
      camelot_lines.append(line.strip())
print(camelot_lines)

We
're the
knights of the round tableWe dance whenever we're able
["We're the knights of the round tableWe dance whenever we're able"]

Task# 7

In [33]:
def create_cast_list(filename):
  cast_list = []
  with open(filename) as Aisha:
    for line in Aisha:
      line=line.split(",")
      cast_list.append(line[0])
  return cast_list
cast_list = create_cast_list('flying_circus_cast.txt')
for actor in cast_list:
 print(actor)

Graham Chapman
Eric Idle
Terry Jones
Michael Palin
Terry Gilliam
John Cleese
Carol Cleveland
Ian Davidson
John Hughman
The Fred Tomlinson Singers
Connie Booth
Bob Raymond
Lyn Ashley
Rita Davies
Stanley Mason
David Ballantyne
Donna Reading
Peter Brett
Maureen Flanagan
Katya Wyeth
Frank Lester
Neil Innes
Dick Vosburgh
Sandra Richards
Julia Breck
Nicki Howorth
Jimmy Hill
Barry Cryer
Jeannette Wild
Marjorie Wilde
Marie Anderson
Caron Gardner
Nosher Powell
Carolae Donoghue
Vincent Wong
Helena Clayton
Nigel Jones
Roy Gunson
Daphne Davey
Stenson Falke
Alexander Curry
Frank Williams
Ralph Wood
Rosalind Bailey
Marion Mould
Sheila Sands
Richard Baker
Douglas Adams
Ewa Aulin
Reginald Bosanquet
Barbara Lindley
Roy Brent
Jonas Card
Tony Christopher
Beulah Hughes
Peter Kodak
Lulu
Jay Neill
Graham Skidmore
Ringo Starr
Fred Tomlinson
David Hamilton
Suzy Mandel
Peter Woods