<a href="https://colab.research.google.com/github/AishaChanna/Data-science/blob/main/Lab4_20SW122.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB 4
Section 2
Roll_no: 20SW122

TASK# 1

import numpy as np

Using the Built-in functions you learned about in the previous lesson, create a 4 x 4 ndarray that only contains consecutive even numbers from 2 to 32 (inclusive)

In [1]:
import numpy as np

# Using the Built-in functions you learned about in the
# previous lesson, create a 4 x 4 ndarray that only
# contains consecutive even numbers from 2 to 32 (inclusive)

x = np.arange(2,33,2)
y = x.reshape(4,4)
print(y)

[[ 2  4  6  8]
 [10 12 14 16]
 [18 20 22 24]
 [26 28 30 32]]

TASK# 2

Create a 5 x 5 ndarray with consecutive integers from 1 to 25 (inclusive). Afterwards use Boolean indexing to pick out only the odd numbers in the array Create a 5 x 5 ndarray with consecutive integers from 1 to 25 (inclusive). Use Boolean indexing to pick out only the odd numbers in the array

In [2]:
X = np.arange(1,26).reshape(5,5)
print(X)
# Use Boolean indexing to pick out only the odd numbers in the array
Y = X[X%2 !=0]
print(Y)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
[ 1  3  5  7  9 11 13 15 17 19 21 23 25]

TASK# 3

import numpy as np

Use Broadcasting to create a 4 x 4 ndarray that has its first column full of 1s, its second column full of 2s, its third column full of 3s, etc..

In [3]:
import numpy as np

X = np.arange(1,5)[:, np.newaxis] * np.ones((4,4), dtype=int)
print(X)

[[1 1 1 1]
 [2 2 2 2]
 [3 3 3 3]
 [4 4 4 4]]